@model IEnumerable<TextileEshop.Models.Review>

<div class="container mt-4">
    <h2>Product Reviews</h2>

    <table class="table table-bordered table-hover">
        <thead class="table-dark">
            <tr>
                <th>Product</th>
                <th>Reviewer</th>
                <th>Rating</th>
                <th>Comment</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var review in Model)
            {
                <tr>
                    <td>@review.Product.Name</td>
                    <td>@review.User.FullName</td>
                    <td>@review.Rating</td>
                    <td>@review.Comment</td>
                    <td>@review.Date.ToShortDateString()</td>
                </tr>
            }
        </tbody>
    </table>
</div>
